@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Google Sans';
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.navbar {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8) !important;
}

.nav-link {
    color: #1d1d1f;
    font-size: 0.85rem;
    font-weight: 400;
    transition: opacity 0.1s;
}

.nav-link:hover {
    opacity: 0.6;
    color: #0071e3;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

body {
    padding-top: 100px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.botao:hover {
  background: darkgreen;
}

.rodape {
  width: 100%;
  padding-top: 100px;
}

.navbar.navbar-footer {
    background-color: #f0f2f5 !important;
    min-height: 50px;
    padding: 20px 0;
}

.legal p {
    font-size: 0.6rem;
    margin: 0;
    text-align: center;
}